<body id="page1">
    <link rel="stylesheet" href="login.component.css">
    <div class="bgimg">
        <img src="YantraImage.jpg" alt="yantraimage">
    </div>
    <div class="container">
        <h1 id="head">
            {{isLogin ? 'Login': 'Register'}}
        </h1>
        <br>
        <form #authForm="ngForm" (ngSubmit)="onFormSubmitted(authForm)">
            <div class="form-input">
                <label >Email Address</label>
                 <input type="email" placeholder="UserName" name="Username" ngModel required email>
            </div>
            <br>
            <div class="form-input">
                <label>Password</label>
                <input type="password" placeholder="Password" name="Password" ngModel minlength="8">
            </div>
            <br>
            <button type="submit" class="Login-btn" [disabled]="authForm.invalid"
                (click)="onFormSubmitted(authForm)">{{isLogin ? 'Login' :
                'Register'}} </button>
            <p>{{isLogin ? 'Do not have an account yet?' :
                'Already have an account?'}}
                <a class="app-toggle-btn" routerLink="register" routerLinkActive="active">Register
                    Here</a>
                <!-- <li class="nav-item active">
                        <a class="nav-link" routerLink="register" routerLinkActive="active">Register here</a>
                      </li> -->


            </p>
        </form>
    </div>
</body>